body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.hidden {
    display: none;
}

#form-container {
    margin: 70px 20px 20px 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select, button {
    margin-bottom: 10px;
}

#computers-list {
    margin: 70px 20px 20px 20px;
}
