body {
    background: url('prefs.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(51, 51, 51, 0.8); /*transparencia em cima */
    padding: 10px 0;
    border-radius: 0 0 20px 20px;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #777;
}

.hidden {
    display: none;
}

#form-container {
    margin: 70px 20px 20px 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select, button {
    margin-bottom: 10px;
}

input, select {
    border-radius: 20px;
    padding: 10px;
}

#computers-list {
    margin: 70px 20px 20px 20px;
}

footer {
    background: rgba(51, 51, 51, 0.8); /* deixar transparente*/
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.floors-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px; 
}

.floor {
    border: 1px solid #ccc;
    padding: 10px;
    width: 20%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.floor h2 {
    text-align: center;
}

.computer {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}
